/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Full-page white background */
body {
	background-color: #ffffff;
	font-family: "Courier New", Courier, monospace; /* Typewriter-style font */
	height: 100vh;
}

/*Centered container */
.container {
	display: flex;
	justify-content: center;
	margin-top: 50px; /* Move the input box near the top */
}

/* Typewriter style input box */
.typewriter {
	font-family: "Courier New", Courier, monospace; /* Typewriter-style font */
	font-size: 1.5rem;
	padding: 10px;
	outline: none;
	width: 600px; /* Box width */
	height: 600px; /* box height */
	border: none; /*Remove border*/
	resize: none; /*prevent resizing */
	white-space: pre-wrap;/*preserve whitespace and allow wrapping */
	overflow-wrap: break-word; /*ensure text wraps to next line*/
	word-wrap: break-word;
	
}